# These variables are only available locally in MiniOxygen
SESSION_SECRET="foobar"
PUBLIC_STORE_DOMAIN="mock.shop"

# Sentry-related variables

# Sentry Organization Slug (e.g. "my-org")
SENTRY_ORG=""

# Sentry Project Slug (e.g. "my-project")
SENTRY_PROJECT=""

# Sentry Auth Token, found in Settings > API Keys. Must have "project:releases" scope.
SENTRY_AUTH_TOKEN=""